:root{
  --color-bg: #f0f1f6;
  --color-white: #FFF;
  --color-black: hsl(257, 21%, 14%);
  --color-cyan: #2acfcf;
  --color-violet: #3b3054;
  --color-red: hsl(0, 87%, 67%);
  --color-gray-1: #bfbfbf;
  --color-gray-2: #9e9aa7;
  --color-gray-3: #35323e;
  --color-gray-4: #232127;
}

