@include respond-to(wide-screens){
  .hero{
    // *CONTAINERS
    &__outer{
      padding: 12.4em 14.8em;
    }
    &__inner{
      display:flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
    &__content{
      max-width: 40vw;
    }
    // *ELS
    &-image{
      right: -11em;
      position: absolute;
      top: 14.6em;
    }
    &-headline{
      font-size: 7.7rem;
      line-height: 9rem;
      letter-spacing: -.6px;
    }
    &-text{
      font-size: 2.1rem;
      margin: .4em 0 1.8em 0;
      width: 100%;
      word-spacing: 0.31rem;
      color: var(--color-gray-2);
    }
    &-btn{
      font-size: 2rem;
      padding: 1.2rem 3.7rem;
      font-weight:700;
      border-radius:2rem;
      min-width: 19.4rem;
      background-color: var(--color-cyan);
      color:var(--color-white);
    }
  }
}
@include respond-to(phone){
  .hero{
    // *CONTAINERS
    &__outer{
      padding: 1em 2em 0 2em;
      overflow:hidden;
    }
    &__inner{}
    &__content{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      margin-top:7.9em;
      text-align: center;
    }
    // *ELEMENTS
    &-btn{
      font-size: 2.4rem;
      padding: .4em 1.5em;
      border-radius: 2.5rem;
      background-color: var(--color-red);
      color: var(--color-white);
      border: none;
    }
    &-text {
      margin: .8em auto 2em auto;
      font-size: 1.82rem;
    }
    &-headline{
      font-size: 4rem;
      
      line-height: 5.2rem;
    }
    &-image{
      position: relative;
      z-index: -1;
      width:100%; 
      margin: 5.9em 0 0 7.7em;
      transform: scale(1.53);
    }
  }
}

