@include respond-to(tablet-screens){
  .stats{
    &__outer{
      background-color: var(--color-bg);
      padding:10.4em 14.5em 18.3em 14.5em;
    }
    &__inner{}
    &-cards__container{
      display:flex;
      margin:9.4em auto 0 auto;
      justify-content: space-between;
      position: relative;
      max-width: 1119px;
    }
    
    &-header{
      
      
      text-align: center;
      &-headline{
        font-size:3.8rem;
      }
      &-text{
        @include text-secondary(1.8rem);
        line-height: 3.2rem;
        letter-spacing: .01rem;
        max-width: 52rem;
        margin: .7em auto 0 auto;
      }
    }
    
    &-cards{
      &-item{
        position: relative;
        background-color: var(--color-white);
        max-width:35rem;
        max-height: 26rem;
        padding: 6.3em 3em;
        &:nth-child(1){
          top:0em;
        }
        &:nth-child(3){
          top:4em;
          
        }
        &:nth-child(5){
          top:8em;
          & > div.stats-cards-item__icon{
            left:3.1rem;
            top:-4.4em;
          }
          & > .stats-cards-item__icon > img{
            left:2rem;
            top:2rem;
          }
        }
        &__icon{
          position: absolute;
          z-index: 4;
          background-color:var(--color-violet);
          position: absolute;
          top: -4.33em;
          left: 3.45rem;
          height:87px;
          width:87px;
          border-radius: 100px;
          & > img{
            position: relative;
            left: 2.27rem;
            top: 2.5rem;
          }
        }
        &__headline{
          font-size: 2.2rem;
        }
        &__text{
          @include text-secondary(1.5rem);
          margin-top: 1em;
          font-size: 1.3em;
          line-height: 2.56rem;
        }
      }
      
    }
    &-divider{
      &-1{
        position: absolute;
        height: 1rem;
        width: 4rem;
        top:13em;
        left:31em;
        background-color: var(--color-cyan);
      }
      &-2{
        position: absolute;
        height: 1rem;
        width: 4rem;
        top:13em;
        left:65em;
        background-color: var(--color-cyan);
      }
      
      
    }
  }
}